header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header-img {
  min-height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(10%);
}

.menu {
  height: 50px;
  width: 100%;
  z-index: 90;
  position: relative;
  ul {
    height: 100vh;
    width: 100%;
    font-size: 2rem;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: fixed;

    li {
      margin-bottom: 0.5rem;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.3s;
      transform: translateX(100vw);

      a {
        text-decoration: none;
        color: #fff;
      }
      &:hover {
        background-color: $accent-color;
        //transform: skew(-10deg);
        color: #000;
      }
    }
  }
  &-btn {
    height: 35px;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 99;

    &-burger {
      top: 0px;
      @include burger;

      &::before {
        top: 12px;
        @include burger;
      }
      &::after {
        top: 24px;
        @include burger;
        width: 35px;
      }

      &-open {
        @include burger;
        top: 10px;
        transform: rotate(45deg);

        &::before {
          @include burger;
          width: 0px;
        }
        &::after {
          @include burger;
          top: 0px;
          transform: rotate(-90deg);
        }
      }
    }
  }
}

@for $i from 1 through 4 {
  .menu-nav-item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s);
  }
}

.menu-active {
  color: #fff;
  background-color: $accent-color;
}
